  
    @*Modal Dinâmico*@
    <div class="modal fade" id="modalDinamico" tabindex="-1" data-dismiss="modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                @*Cabeçalho*@
                <div class="modal-header bg-navy-blue">
                    <h5 class="modal-title " style="color:#FFF" id="modalDinamico_titulo"></h5>
                </div>

                @*Corpo*@
                <div class="modal-body">
                    <p class="modal-title " id="modalDinamico_conteudo"></p>
                </div>

                @*Rodapé*@
                <div class="modal-footer" id="modalDinamico_botoes">

                </div>
            </div>

        </div>
    </div>

