@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = "~/Views/Shared/_MenuSuperior.cshtml";
                ViewData["Title"] = "Dashboard Cliente";
                ViewBag.Title = "Dashboard Cliente"; }
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body style="background-color:black;">
    <div class="card" style="background-color:black;">
        
            <div class="ftco-section">
                <div class="">
                    <div class="row no-gutters">
                        <div class="col-md-12 text-center">
                            <h1 class="mb-4">Maximus Tech</h1>
                            <ul>
                                <li class="active"><a href=""><span>Home</span></a></li>
                                <li><a href="/Produto/Produto"><span>Produtos</span></a></li>
                                <li><button type="button" id="logout">Sair</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</body>
</html>


<script type="text/javascript">

</script>